{% extends 'frontend/base.html' %}
{% load i18n %}

{% block title %} {% trans 'Log in' %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4"></div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <h3> {% trans 'Log in' %}</h3>

                <form>
                    <div class="form-group">
                        input.form-control
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4"></div>
        </div>
    </div>
{% endblock %}