{% load i18n %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Oposción Cuba' %} | {% block title %} {% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    {% stylesheet 'libs' %}

    {% block css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% javascript 'jquery' %}
    <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw" crossorigin="anonymous"></script>
    {% javascript 'libs' %}

    {% block js %}{% endblock %}
</body>
</html>