{% extends 'frontend/base.html' %}
{% load i18n %}
{% load pipeline %}

{% block page %} profile {% endblock %}

{% block title %} {% trans 'Profile' %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <profile_photo
                    v-if="user"
                    :image="photo"
                ></profile_photo>
            </div>
            <div class="col-md-4">
                <profile_info
                    v-if="user"
                    :user="user"
                ></profile_info>
            </div>
            <div class="col-md-4">
                <profile_address
                    :address="user.address"
                    v-if="user"
                ></profile_address>
            </div>
        </div>
    </div>

    <script id="profile_photo_tmpl" language="template/vuejs">
        <div>
            <template v-if="image">
                <div class="row">
                    <div class="col-md-12">
                        <img :src="image_property" class="right profile_photo"/>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="row">
                    <div class="col-md-12">
                        <span class="fa fa-photo fa-5x right"
                              aria-hidden="true"></span>
                    </div>
                </div>
            </template>

            <div class="row">
                <input type="file"
                       accept="image/*"
                       @change="uploadFile($event.target.files)"/>
                <div class="col-md-12">
                    <button
                        class="btn btn-primary right"
                        @click="openUploadWindow"
                    >
                        <i class="fa fa-photo"></i>
                        {% trans 'Upload photo' %}
                    </button>
                </div>
            </div>
        </div>
    </script>

    <script id="profile_info_tmpl" language="template/vuejs">
        <fieldset @dblclick="edit()">
            <legend>{% trans 'Personal information' %}</legend>
            <dl class="dl-horizontal">
                <dt>{% trans 'Name' %}</dt>
                <dd v-if="read_mode">[[ name ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="name" @blur="update()"/>
                </dd>
                <dt>{% trans 'Last name' %}</dt>
                <dd v-if="read_mode">[[ last_name ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="last_name"/>
                </dd>
                <dt>{% trans 'Birthday' %}</dt>
                <dd v-if="read_mode">[[ birthday ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="birthday"/>
                </dd>
                <dt>{% trans 'Verified' %}</dt>
                <template v-if="read_mode">
                    <dd v-if="verified_property">
                        {% trans 'Yes' %}
                    </dd>
                    <dd v-else>
                        {% trans 'No' %}
                    </dd>
                </template>
                <template v-else>
                    <div class="checkbox">
                        <input type="checkbox" class="form-control" v-model="verified">
                    </div>
                </template>
            </dl>
        </fieldset>
    </script>

    <script id="profile_address_tmpl" language="template/vuejs">
        <dl class="dl-horizontal">
            <fieldset>
                <legend>{% trans 'Address' %}</legend>
                <dt>{% trans 'Street:' %}</dt>
                <dd></dd>
                <dt>{% trans 'Number:' %}</dt>
                <dd></dd>
                <dt>{% trans 'Additional street:' %}</dt>
                <dd></dd>
                <dt>{% trans 'Location:' %}</dt>
                <dd></dd>
            </fieldset>
        </dl>
    </script>
{% endblock %}

{% block js %}
    {% javascript 'profile' %}
{% endblock %}