{% extends 'frontend/base.html' %}
{% load i18n %}
{% load pipeline %}

{% block page %} profile {% endblock %}

{% block title %} {% trans 'Profile' %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <div class="row">
                    <div class="col-md-12">
                        <h1>{% trans 'Cuban opossition' %}</h1>
                    </div>
                </div>

                <h3> {% trans 'Profile' %}</h3>
            </div>
            <div class="col-md-4"></div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-4">
                <profile_photo
                    v-if="user"
                    :image="photo"
                ></profile_photo>
            </div>
            <div class="col-md-4">
                <profile_info
                    v-if="user"
                    :user="user"
                ></profile_info>
            </div>
            <div class="col-md-4">
                <profile_address
                    :address="user.address"
                    v-if="user"
                ></profile_address>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <profile_organizations
                    v-if="user"
                    :user="user"
                ></profile_organizations>
            </div>
        </div>
    </div>

    <script id="profile_organizations_tmpl" language="template/vuejs">
        <fieldset>
            <legend>{% trans 'Organizations' %}</legend>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-primary pull-right" @click="openModal">{%  trans 'Add' %}</button>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Headquarter' %}</th>
                    <th>{% trans 'Role' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                    <profile_organization
                        v-for="organization in organizations"
                        :organization="organization"
                        :key="organization.id"
                    ></profile_organization>
                </tbody>
            </table>

            <profile_organization_modal :user="user"></profile_organization_modal>
        </fieldset>
    </script>

    <script id="profile_organization_modal" language="template/vuejs">
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans 'Add organization' %}</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form :class="{'was-validated': errors}">
                            <div class="form-group" :class="{'has-error': errors.name}">
                                <input type="text" class="form-control" v-model="organization.name" placeholder="{% trans 'Name' %}"/>
                                <span class="invalid-feedback">[[ errors.name ]]</span>
                            </div>
                            <div class="form-group" :class="{'has-error': errors.description}">
                                <textarea class="form-control" v-model="organization.description" placeholder="{% trans 'Description' %}"></textarea>
                                <span class="invalid-feedback">[[ errors.description ]]</span>
                            </div>
                            <div class="form-group" :class="{'has-error': errors.headquarter}">
                                <input type="text" class="form-control" v-model="organization.headquarter" placeholder="{% trans 'Headquarter' %}"/>
                                <span class="invalid-feedback">[[ errors.headquarter ]]</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            {% trans 'Cancel' %}
                        </button>
                        <button type="button" class="btn btn-primary" @click="add">
                            {% trans 'Add' %}
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>

    <script id="profile_photo_tmpl" language="template/vuejs">
        <div>
            <template v-if="image">
                <div class="row">
                    <div class="col-md-12">
                        <img :src="image_property" class="right profile_photo"/>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="row">
                    <div class="col-md-12">
                        <span class="fa fa-photo fa-5x right"
                              aria-hidden="true"></span>
                    </div>
                </div>
            </template>

            <div class="row">
                <input type="file"
                       accept="image/*"
                       @change="uploadFile($event.target.files)"/>
                <div class="col-md-12">
                    <button
                        class="btn btn-primary right"
                        @click="openUploadWindow"
                    >
                        <i class="fa fa-photo"></i>
                        {% trans 'Upload photo' %}
                    </button>
                </div>
            </div>
        </div>
    </script>

    <script id="profile_info_tmpl" language="template/vuejs">
        <fieldset @dblclick="edit()">
            <legend>{% trans 'Personal information' %}</legend>
            <dl class="dl-horizontal">
                <dt>{% trans 'Name' %}</dt>
                <dd v-if="read_mode">[[ name_property ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="name" @blur="update()"/>
                </dd>
                <dt>{% trans 'Last name' %}</dt>
                <dd v-if="read_mode">[[ last_name_property ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="last_name" @blur="update()"/>
                </dd>
                <dt>{% trans 'Birthday' %}</dt>
                <dd v-if="read_mode">[[ birthday_property ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control datetime" v-model="birthday" @focus="setUpDateTimePicker()"/>
                </dd>
                <dt>{% trans 'Verified' %}</dt>
                <template v-if="read_mode">
                    <dd v-if="verified_property">
                        {% trans 'Yes' %}
                    </dd>
                    <dd v-else>
                        {% trans 'No' %}
                    </dd>
                </template>
                <template v-else>
                    <div class="checkbox">
                        <input type="checkbox" class="form-control" v-model="verified">
                    </div>
                </template>
            </dl>
        </fieldset>
    </script>

    <script id="profile_address_tmpl" language="template/vuejs">
        <dl class="dl-horizontal">
            <fieldset @dblclick="edit()">
                <legend>{% trans 'Address' %}</legend>
                <dt>{% trans 'Street' %}</dt>
                <dd v-if="read_mode">[[ street_property ]]</dd>
                <dd v-else>
                    <input type="text" class="form-control" v-model="address.street" @blur="updateAddress()">
                </dd>
                <dt>{% trans 'Number' %}</dt>
                <dd v-if="read_mode">[[ number_property ]]</dd>
                <dd v-else>
                    <input type="number" class="form-control" v-model="address.number" @blur="updateAddress()"/>
                </dd>
                <dt>{% trans 'Additional street' %}</dt>
                <dd v-if="read_mode">[[ additional_address_property ]]</dd>
                <dd v-else>
                    <textarea v-model="address.additional_address" class="form-control" @blur="updateAddress()"></textarea>
                </dd>
                <dt>{% trans 'Location' %}</dt>
                <dd v-if="read_mode">[[ location_property ]]</dd>
                <dd v-else>
                    <template>
                        <treeselect
                            v-model="address.location"
                            :mutiple="false"
                            :options="locations"
                            :load-children-options="loadChildrenLocations"
                            @input="updateAddress"
                            placeholder="{% trans 'Select a location ...' %}"
                        ></treeselect>
                    </template>
                </dd>
            </fieldset>
        </dl>
    </script>
{% endblock %}

{% block js %}
    {% javascript 'profile' %}
{% endblock %}

{% block css %}
    {% stylesheet 'profile' %}
{% endblock %}